.hero4{
height:600px;
background-size:cover;
background-position:center;
display:flex;
align-items:center;
justify-content:center;
position:relative;
font-family:Arial;
}

.hero4-overlay{

color:white;
text-align:center;
padding:60px;
max-width:700px;
border-radius:10px;
}

.hero4 h2{
font-size:40px;
margin-bottom:10px;
}

.hero4 h3{
font-size:22px;
margin-bottom:15px;
color:#ddd;
}

.hero4 p{
font-size:16px;
line-height:1.6;
margin-bottom:30px;
}

/* play button */

.play-btn{
background:#fff;
color:#000;
border:none;
padding:14px 30px;
border-radius:40px;
font-size:16px;
cursor:pointer;
transition:0.3s;
}

.play-btn:hover{
background:#ddd;
}

/* video popup */

.video-popup{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.8);
display:flex;
align-items:center;
justify-content:center;
z-index:5000;
}

.video-box{
width:700px;
background:#000;
padding:20px;
border-radius:10px;
position:relative;
}

.close-btn{
position:absolute;
top:-15px;
right:-15px;
background:red;
color:#fff;
border:none;
width:35px;
height:35px;
border-radius:50%;
cursor:pointer;
font-size:16px;
}